.contact-background {
    background-image: url('../img/vintage-pink-telephone-composition.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 50px 0;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


.button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 5px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .contact-form {
        padding: 50px;
    }
    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 8px;
    }
    .button {
        padding: 10px 15px;
        font-size: 14px;
    }
}
